# Create Dataset
This notebook creates a sample data with 500 values using Faker.

In [1]:
import pandas as pd
from faker import Faker

In [2]:
fake = Faker()

In [3]:
first_names = [fake.unique.first_name() for i in range(500)]

In [4]:
last_names = [fake.unique.last_name() for i in range(500)]

In [5]:
time_joined = [fake.time() for i in range(500)]

In [6]:
time_left = [fake.time() for i in range(500)]

In [7]:
duration = [fake.time_delta() for i in range(500)]

In [8]:
emails = [fake.ascii_company_email() for i in range(500)]

In [9]:
df = pd.DataFrame(
    list(zip(first_names, last_names, emails, duration, time_joined, time_left)),
    columns=[
        "First name",
        "Last name",
        "Email",
        "Duration",
        "Time joined",
        "Time exited",
    ],
)
df.head()

,First name,Last name,Email,Duration,Time joined,Time exited
0,Nathan,Burke,brittany44@brown-walton.com,0 days,02:25:50,21:26:44
1,Emma,Gonzalez,hotina@mueller-ford.com,0 days,00:38:31,17:25:35
2,Kurt,Henderson,chapmanjohn@smith.com,0 days,05:59:49,05:01:29
3,Tracey,Dunn,bzhang@wise.com,0 days,08:24:01,15:16:16
4,Kimberly,Barnes,unelson@hull.com,0 days,15:48:41,03:14:39

In [10]:
df.to_csv("../data/raw/sample_data.csv")

# Conclusion
The dataset was created using Faker for 500 entries, and saved to data directory.